*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
build
Debug
documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d

bsp/stm32f10x-curer/project.uvguix.Administrator
bsp/stm32f10x-curer/DebugConfig/rtthread-stm32_STM32F103RE.dbgconf
bsp/stm32f10x-curer/JLinkLog.txt
bsp/stm32f10x-curer/project.uvguix.Jack
bsp/stm32f10x-curer/project.uvoptx
bsp/stm32f10x-curer/project.uvprojx
bsp/stm32f10x-curer/project.uvguix.Jack
bsp/stm32f10x-curer/project.uvoptx
bsp/stm32f10x-curer/project.uvprojx
bsp/stm32f10x-curer/JLinkLog.txt
